{% extends "layout.html" %}


{% if session.user_id %}
{% block content %}

<div class="section">

    <h2>{% if feed_owner == 0 and session.role == 'admin'%}Defaut feed: {% endif %}{{ feed_name }}</h2>

    <h3>Edit feed</h3>

    <p>If the nutritional values of the feed are given in the form "unit / kg of dry matter", enter the moisture
        percentage in the "moisture" field.
        <br>Otherwise, set the "moisture" field to 0.
    </p>

    <p>It is not necessary to fill in all fields, if you don't know all the values.</p>

    <h3>Contents</h3>

    <form action="{{ url_for('editfeed', feed_id=feed_id) }}" method="POST">
        <label for="name">Name of the feed: </label>
        <input type="text" name="name" value="{{ feed_name }}" class="text-input" maxlength="30">
        <br>

        <label for="moisture">Moisture</label>
        <input type="text" name="moisture" value="{{ feed_old_values[1] }}" pattern="^\d*([\.,]?\d+)?$" class="text-input" maxlength="12"> %
        <br>

        <label for="energy">Metabolizable energy</label>
        <input type="text" name="energy" value="{{ feed_old_values[2] }}" pattern="^\d*([\.,]?\d+)?$" class="text-input" maxlength="12"> MJ/kg DM
        <br>

        <label for="protein">Protein</label>
        <input type="text" name="protein" value="{{ feed_old_values[3] }}" pattern="^\d*([\.,]?\d+)?$" class="text-input" maxlength="12"> %
        <br>

        <label for="fat">Fat</label>
        <input type="text" name="fat" value="{{ feed_old_values[4] }}" pattern="^\d*([\.,]?\d+)?$" class="text-input" maxlength="12"> %
        <br>

        <label for="fiber">Fiber</label>
        <input type="text" name="fiber" value="{{ feed_old_values[5] }}" pattern="^\d*([\.,]?\d+)?$" class="text-input" maxlength="12">
        %
        <br>

        <label for="starch">Starch</label>
        <input type="text" name="starch" value="{{ feed_old_values[6] }}" pattern="^\d*([\.,]?\d+)?$" class="text-input" maxlength="12"> %
        <br>

        <label for="sugar">Sugar</label>
        <input type="text" name="sugar" value="{{ feed_old_values[7] }}" pattern="^\d*([\.,]?\d+)?$" class="text-input" maxlength="12">
        %
        <br>

        <label for="calcium">Calcium</label>
        <input type="text" name="calcium" value="{{ feed_old_values[8] }}" pattern="^\d*([\.,]?\d+)?$"
            class="text-input" maxlength="12"> g/kg
        <br>

        <label for="phosphorus">Phosphorus</label>
        <input type="text" name="phosphorus" value="{{ feed_old_values[9] }}" pattern="^\d*([\.,]?\d+)?$"
            class="text-input" maxlength="12"> g/kg
        <br>

        <label for="magnesium">Magnesium</label>
        <input type="text" name="magnesium" value="{{ feed_old_values[10] }}" pattern="^\d*([\.,]?\d+)?$"
            class="text-input" maxlength="12"> g/kg
        <br>

        <label for="sodium">Sodium</label>
        <input type="text" name="sodium" value="{{ feed_old_values[11] }}" pattern="^\d*([\.,]?\d+)?$"
            class="text-input" maxlength="12"> g/kg
        <br>

        <label for="iron">Iron</label>
        <input type="text" name="iron" value="{{ feed_old_values[12] }}" pattern="^\d*([\.,]?\d+)?$" class="text-input"  maxlength="12">
        mg/kg
        <br>

        <label for="copper">Copper</label>
        <input type="text" name="copper" value="{{ feed_old_values[13] }}" pattern="^\d*([\.,]?\d+)?$"
            class="text-input" maxlength="12"> mg/kg
        <br>

        <label for="manganese">Manganese</label>
        <input type="text" name="manganese" value="{{ feed_old_values[14] }}" pattern="^\d*([\.,]?\d+)?$"
            class="text-input" maxlength="12"> mg/kg
        <br>

        <label for="zinc">Zinc</label>
        <input type="text" name="zinc" value="{{ feed_old_values[15] }}" pattern="^\d*([\.,]?\d+)?$" class="text-input" maxlength="12">
        mg/kg
        <br>

        <label for="iodine">Iodine</label>
        <input type="text" name="iodine" value="{{ feed_old_values[16] }}" pattern="^\d*([\.,]?\d+)?$"
            class="text-input" maxlength="12"> mg/kg
        <br>

        <label for="selenium">Selenium</label>
        <input type="text" name="selenium" value="{{ feed_old_values[17] }}" pattern="^\d*([\.,]?\d+)?$"
            class="text-input" maxlength="12"> mg/kg
        <br>

        <label for="cobalt">Cobalt</label>
        <input type="text" name="cobalt" value="{{ feed_old_values[18] }}" pattern="^\d*([\.,]?\d+)?$"
            class="text-input" maxlength="12"> mg/kg
        <br>

        <label for="vitamin_a">Vitamin A</label>
        <input type="text" name="vitamin_a" value="{{ feed_old_values[19] }}" pattern="^\d*([\.,]?\d+)?$"
            class="text-input" maxlength="12"> IU/kg
        <br>

        <label for="vitamin_d3">Vitamin D3</label>
        <input type="text" name="vitamin_d3" value="{{ feed_old_values[20] }}" pattern="^\d*([\.,]?\d+)?$"
            class="text-input" maxlength="12"> IU/kg
        <br>

        <label for="vitamin_e">Vitamin E</label>
        <input type="text" name="vitamin_e" value="{{ feed_old_values[21] }}" pattern="^\d*([\.,]?\d+)?$"
            class="text-input" maxlength="12"> mg/kg
        <br>

        <label for="vitamin_b1">Vitamin B1</label>
        <input type="text" name="vitamin_b1" value="{{ feed_old_values[22] }}" pattern="^\d*([\.,]?\d+)?$"
            class="text-input" maxlength="12"> mg/kg
        <br>

        <label for="vitamin_b2">Vitamin B2</label>
        <input type="text" name="vitamin_b2" value="{{ feed_old_values[23] }}" pattern="^\d*([\.,]?\d+)?$"
            class="text-input" maxlength="12"> mg/kg
        <br>

        <label for="vitamin_b6">Vitamin B6</label>
        <input type="text" name="vitamin_b6" value="{{ feed_old_values[24] }}" pattern="^\d*([\.,]?\d+)?$"
            class="text-input" maxlength="12"> mg/kg
        <br>

        <label for="vitamin_b12">Vitamin B12</label>
        <input type="text" name="vitamin_b12" value="{{ feed_old_values[25] }}" pattern="^\d*([\.,]?\d+)?$"
            class="text-input" maxlength="12"> mg/kg
        <br>

        <label for="biotin">Biotin</label>
        <input type="text" name="biotin" value="{{ feed_old_values[26] }}" pattern="^\d*([\.,]?\d+)?$"
            class="text-input" maxlength="12"> mg/kg
        <br>

        <label for="niacin">Niacin</label>
        <input type="text" name="niacin" value="{{ feed_old_values[27] }}" pattern="^\d*([\.,]?\d+)?$"
            class="text-input" maxlength="12"> mg/kg

        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <br>

        {% if feed_owner == session.user_id %}
        <p>
            <input type="submit" value="Save changes" class="button-link">
        </p>
        {% elif feed_owner == 0 and session.role == 'admin'%}
            <br>
            <p class="note">Note! This is a default feed that is visible to all users!</p>
            <p>
                <input type="submit" value="Save changes" class="button-link">
            </p>
        {% else %}
        <br>
        <p class="note">This is a defaut feed that can not be edited.</p>
        {% endif %}
    </form>

    <p>
        <a href="{{ url_for('feed', feed_id=feed_id) }}" class="button-link">Back to Feed Info</a>
    </p>

    <p>
        <a href="{{ url_for('index') }}" class="button-link">Back to Home</a>
    </p>

</div>
{% endblock %}
{% endif %}