<!DOCTYPE html>
<html>
<head>
<style>

body {
    background-color: #f0f0f0; 
    font-family: Arial, sans-serif;
}
h1{
    text-align: center;
    color: #556b2f;
}

h2{
    text-align: center;
    color: #807156;
}


h3 {
    text-align: left;
    color: #556b2f;
}

a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}

</style>
</head>
<body>

<h1>Horse Feed planner!</h1>
<p>You are logged in as {{ session.username }}</p>

<h2>{{ horse_info[1] }}</h2>

<h3>Horse's basic information</h3>
<p>Horse's id in the Feed Planner: {{ horse_info[0] }}</p>
<p>Name: {{ horse_info[1] }}</p>
<p>Year of birth: {{ horse_info[2] }}</p>

<h3>Horse's energy consumption</h3>
<p>Weight class: {{ horse_info[3] }} kg</p>
<p>Excercise level: {{ horse_info[4] }}</p>

<form action="/updatehorse/{{ horse_info[0] }}" method="POST">
    <p>
        Weight class:
        <p>
        <input type="radio" name="weight_class" value="450" {% if horse_info[3] == 450 %}checked{% endif %}> 450 kg
        <input type="radio" name="weight_class" value="550" {% if horse_info[3] == 550 %}checked{% endif %}> 550 kg
        <input type="radio" name="weight_class" value="600" {% if horse_info[3] == 600 %}checked{% endif %}> 600 kg
        
        <p>
        Level of exercise:
        <p>
        <input type="radio" name="exercise_level" value="Rest" {% if horse_info[4] == 'Rest' %}checked{% endif %}> Rest
        <input type="radio" name="exercise_level" value="Light work" {% if horse_info[4] == 'Light work' %}checked{% endif %}> Light work
        <input type="radio" name="exercise_level" value="Moderate work" {% if horse_info[4] == 'Moderate work' %}checked{% endif %}> Moderate work
        <input type="radio" name="exercise_level" value="Heavy work" {% if horse_info[4] == 'Heavy work' %}checked{% endif %}> Heavy work
             
    <p>

        <input type="submit" value="Save">
</form>


<h3>Horse's diet</h3>

{% if menu%}
<ul>
    {% for feed in menu %}
    <li>Feed id {{ feed[0] }}. {{ feed[1] }}: {{ feed[2] }} g</li>
    {% endfor %}
</ul>

{% else %}
<p>No diet has been created for this horse yet.</p>
{% endif %}

<form action="/add_feed_to_diet/{{ horse_info[0] }}" method="POST">
    <p>Add new feed to the horse's diet: </p>
    <select name="feed_id">
    {% for feed in feed_list %}
        <option value="{{ feed[0] }}">{{ feed[1] }}</option>
    {% endfor %}
    </select>
    <input type="text" name="amount" placeholder="Amount (grams)">
    <input type="submit" value="Save">

</form>



<p>
    <a href="{{ url_for('index') }}">Back to Home</a>
</p>

<a href="/logout">Log out</a>


</body>
</html>