{% extends "layout.html" %}


{% if session.user_id %}
    {% block content %}
        <p>You are logged in as {{ session.username }}</p>

        <div class="section">
            <h2>My Horses</h2>
            {% if horse_list is none %}
                <p>You don't have any horses yet</p>
            {% else %}
                <ul>
                    {% for h in horse_list %}
                        <li>
                            <a href="{{ url_for('horse', horse_id=h[0]) }}" class="text-link">{{ h[0] }}: {{ h[1] }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            <p>
                <a href="{{ url_for('newhorse') }}" class="button-link">Add a new horse!</a>
            </p>
        </div>

        <div class="section">
            <h2>My Feeds</h2>
            {% if own_feed_list is none %}
                <p>You haven't saved any own feeds yet, but you can check the default feeds!</p>
            {% else %}
                <ul>
                    {% for f in own_feed_list %}
                        <li>
                            <a href="{{ url_for('feed', feed_id=f[0]) }}" class="text-link">{{ f[0] }}: {{ f[1] }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            <p>
                <a href="{{ url_for('newfeed') }}" class="button-link">Add new feed!</a>
            </p>
        </div>

        <div class="section">
            <h2>Default Feeds</h2>
            <ul>
                {% for f in default_feed_list %}
                    <li>
                        <a href="{{ url_for('feed', feed_id=f[0]) }}" class="text-link">{{ f[0] }}: {{ f[1] }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endblock %}
{% else %}
    {% block welcome %}
    <div class="welcome">

        <h1>Welcome to Horse Feed planner!</h1>
        <p><img src="/static/tsoha_logo.svg" alt="Logo">

        <h3>
            <a href="{{ url_for('login') }}" class="text-link">Log in</a>
            <br>
            <a href="{{ url_for('register') }}" class="text-link">Create a new user account</a>
        </h3> 
    </div>
    {% endblock %}
{% endif %}

