{% extends "layout.html" %}


{% if session.user_id %}
{% block content %}

<div class="section">

    <h2>Add a new feed!</h2>

    <p>If the nutritional values of the feed are given in the form "unit / kg of dry matter", enter the moisture
        percentage in the "moisture" field. Otherwise, set the "moisture" field to 0.</p>
    <p>Nutrient values may be integers, or decimal numbers. Negative values or values longer than 12 digits are not allowed.</p>
    <p>It is not necessary to fill in all fields, if you don't know all the values.</p>

    <h3>Contents</h3>


    <form action="/newfeed" method="POST">
        <label for="name">Name of the feed: </label>
        <input type="text" name="name" required class="text-input" maxlength="30" placeholder="Max. 30 characters">
        <br>

        <label for="moisture">Moisture</label>
        <input type="text" name="moisture" pattern="^\d*([\.,]?\d+)?$" class="text-input" maxlength="12"> %
        <br>

        <label for="energy">Metabolizable energy</label>
        <input type="text" name="energy" pattern="^\d*([\.,]?\d+)?$" class="text-input" maxlength="12"> MJ/kg DM
        <br>

        <label for="protein">Protein</label>
        <input type="text" name="protein" pattern="^\d*([\.,]?\d+)?$" class="text-input" maxlength="12"> %
        <br>

        <label for="fat">Fat</label>
        <input type="text" name="fat" pattern="^\d*([\.,]?\d+)?$" class="text-input" maxlength="12"> %
        <br>

        <label for="fiber">Fiber</label>
        <input type="text" name="fiber" pattern="^\d*([\.,]?\d+)?$" class="text-input" maxlength="12"> %
        <br>

        <label for="starch">Starch</label>
        <input type="text" name="starch" pattern="^\d*([\.,]?\d+)?$" class="text-input" maxlength="12"> %
        <br>

        <label for="sugar">Sugar</label>
        <input type="text" name="sugar" pattern="^\d*([\.,]?\d+)?$" class="text-input" maxlength="12"> %
        <br>

        <label for="calcium">Calcium</label>
        <input type="text" name="calcium" pattern="^\d*([\.,]?\d+)?$" class="text-input" maxlength="12"> g/kg
        <br>

        <label for="phosphorus">Phosphorus</label>
        <input type="text" name="phosphorus" pattern="^\d*([\.,]?\d+)?$" class="text-input" maxlength="12"> g/kg
        <br>

        <label for="magnesium">Magnesium</label>
        <input type="text" name="magnesium" pattern="^\d*([\.,]?\d+)?$" class="text-input" maxlength="12"> g/kg
        <br>

        <label for="sodium">Sodium</label>
        <input type="text" name="sodium" pattern="^\d*([\.,]?\d+)?$" class="text-input" maxlength="12"> g/kg
        <br>

        <label for="iron">Iron</label>
        <input type="text" name="iron" pattern="^\d*([\.,]?\d+)?$" class="text-input" maxlength="12"> mg/kg
        <br>

        <label for="copper">Copper</label>
        <input type="text" name="copper" pattern="^\d*([\.,]?\d+)?$" class="text-input" maxlength="12"> mg/kg
        <br>

        <label for="manganese">Manganese</label>
        <input type="text" name="manganese" pattern="^\d*([\.,]?\d+)?$" class="text-input" maxlength="12"> mg/kg
        <br>

        <label for="zinc">Zinc</label>
        <input type="text" name="zinc" pattern="^\d*([\.,]?\d+)?$" class="text-input" maxlength="12"> mg/kg
        <br>

        <label for="iodine">Iodine</label>
        <input type="text" name="iodine" pattern="^\d*([\.,]?\d+)?$" class="text-input" maxlength="12"> mg/kg
        <br>

        <label for="selenium">Selenium</label>
        <input type="text" name="selenium" pattern="^\d*([\.,]?\d+)?$" class="text-input" maxlength="12"> mg/kg
        <br>

        <label for="cobalt">Cobalt</label>
        <input type="text" name="cobalt" pattern="^\d*([\.,]?\d+)?$" class="text-input" maxlength="12"> mg/kg
        <br>

        <label for="vitamin_a">Vitamin A</label>
        <input type="text" name="vitamin_a" pattern="^\d*([\.,]?\d+)?$" class="text-input" maxlength="12"> IU/kg
        <br>

        <label for="vitamin_d3">Vitamin D3</label>
        <input type="text" name="vitamin_d3" pattern="^\d*([\.,]?\d+)?$" class="text-input" maxlength="12"> IU/kg
        <br>

        <label for="vitamin_e">Vitamin E</label>
        <input type="text" name="vitamin_e" pattern="^\d*([\.,]?\d+)?$" class="text-input" maxlength="12"> mg/kg
        <br>

        <label for="vitamin_b1">Vitamin B1</label>
        <input type="text" name="vitamin_b1" pattern="^\d*([\.,]?\d+)?$" class="text-input" maxlength="12"> mg/kg
        <br>

        <label for="vitamin_b2">Vitamin B2</label>
        <input type="text" name="vitamin_b2" pattern="^\d*([\.,]?\d+)?$" class="text-input" maxlength="12"> mg/kg
        <br>

        <label for="vitamin_b6">Vitamin B6</label>
        <input type="text" name="vitamin_b6" pattern="^\d*([\.,]?\d+)?$" class="text-input" maxlength="12"> mg/kg
        <br>

        <label for="vitamin_b12">Vitamin B12</label>
        <input type="text" name="vitamin_b12" pattern="^\d*([\.,]?\d+)?$" class="text-input" maxlength="12"> mg/kg
        <br>

        <label for="biotin">Biotin</label>
        <input type="text" name="biotin" pattern="^\d*([\.,]?\d+)?$" class="text-input" maxlength="12"> mg/kg
        <br>

        <label for="niacin">Niacin</label>
        <input type="text" name="niacin" pattern="^\d*([\.,]?\d+)?$" class="text-input" maxlength="12"> mg/kg
        <br>

        {% if session.role == 'admin' %}
        <br>
        <p>Select the visibility of the feed:
        <br>
        <input type="radio" name="feed-type" value="own" checked> Own (visible only for you)
        <input type="radio" name="feed-type" value="default"> Default (visible for all users)
        <br>
        {% else %}
        <input type="hidden" name="feed-type" value="own">
        {% endif %}
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <p>
            <input type="submit" value="Save" class="button-link">
    </form>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <p>
        <a href="{{ url_for('index') }}" class="button-link">Back to Home</a>
    </p>

</div>
{% endblock %}
{% endif %}