<!DOCTYPE html>
<html>
<head>
<style>

body {
    background-color: #f0f0f0; 
    font-family: Arial, sans-serif;
}
h1{
    text-align: center;
    color: #556b2f;
}

h2{
    text-align: center;
    color: #807156;
}


h3 {
    text-align: left;
    color: #556b2f;
}

a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}

</style>
</head>
<body>

    <h1>Horse Feed Planner</h1>

    <h2>Add a new feed!</h2>

    <p>If the nutritional values of the feed are given in the form "unit / kg of dry matter", enter the moisture percentage in the "moisture" field. 
        <br>Otherwise, set the "moisture" field to 0.</p>

    
    <p>It is not necessary to fill in all fields, if you don't know all the values.</p>
    
    <h3>Contents</h3>

<form action="/newfeed" method="POST">
    <p>Name of the feed: 
    <input type="text" name="name" required>

    <p>Moisture
    <input type="text" name="moisture" pattern="^\d*([\.,]?\d+)?$"> %
    
    <p>Metabolizable energy
    <input type="text" name="energy" pattern="^\d*([\.,]?\d+)?$"> MJ/kg DM

    <p>Protein
    <input type="text" name="protein" pattern="^\d*([\.,]?\d+)?$"> %
    
    <p>Fat
    <input type="text" name="fat" pattern="^\d*([\.,]?\d+)?$"> %
    
    <p>Fiber
    <input type="text" name="fiber" pattern="^\d*([\.,]?\d+)?$"> %
    
    <p>Starch
    <input type="text" name="starch" pattern="^\d*([\.,]?\d+)?$"> %
    
    <p>Sugar
    <input type="text" name="sugar" pattern="^\d*([\.,]?\d+)?$"> %
    
    <p>Calcium
    <input type="text" name="calcium" pattern="^\d*([\.,]?\d+)?$"> g/kg
    
    <p>Phosphorus
    <input type="text" name="phosphorus" pattern="^\d*([\.,]?\d+)?$"> g/kg
    
    <p>Magnesium
    <input type="text" name="magnesium" pattern="^\d*([\.,]?\d+)?$"> g/kg
    
    <p>Sodium
    <input type="text" name="sodium" pattern="^\d*([\.,]?\d+)?$"> g/kg
    
    <p>Iron
    <input type="text" name="iron" pattern="^\d*([\.,]?\d+)?$"> mg/kg
    
    <p>Copper
    <input type="text" name="copper" pattern="^\d*([\.,]?\d+)?$"> mg/kg
    
    <p>Manganese
    <input type="text" name="manganese" pattern="^\d*([\.,]?\d+)?$"> mg/kg
    
    <p>Zinc
    <input type="text" name="zinc" pattern="^\d*([\.,]?\d+)?$"> mg/kg
    
    <p>Iodine
    <input type="text" name="iodine" pattern="^\d*([\.,]?\d+)?$"> mg/kg
    
    <p>Selenium
    <input type="text" name="selenium" pattern="^\d*([\.,]?\d+)?$"> mg/kg
    
    <p>Cobalt
    <input type="text" name="cobalt" pattern="^\d*([\.,]?\d+)?$"> mg/kg
    
    <p>Vitamin A
    <input type="text" name="vitamin_a" pattern="^\d*([\.,]?\d+)?$"> IU/kg
    
    <p>Vitamin D3
    <input type="text" name="vitamin_d3" pattern="^\d*([\.,]?\d+)?$"> IU/kg
    
    <p>Vitamin E
    <input type="text" name="vitamin_e" pattern="^\d*([\.,]?\d+)?$"> mg/kg
    
    <p>Vitamin B1
    <input type="text" name="vitamin_b1" pattern="^\d*([\.,]?\d+)?$"> mg/kg
    
    <p>Vitamin B2
    <input type="text" name="vitamin_b2" pattern="^\d*([\.,]?\d+)?$"> mg/kg
    
    <p>Vitamin B6
    <input type="text" name="vitamin_b6" pattern="^\d*([\.,]?\d+)?$"> mg/kg
    
    <p>Vitamin B12
    <input type="text" name="vitamin_b12" pattern="^\d*([\.,]?\d+)?$"> mg/kg
    
    <p>Biotin
    <input type="text" name="biotin" pattern="^\d*([\.,]?\d+)?$"> mg/kg
    
    <p>Niacin
    <input type="text" name="niacin" pattern="^\d*([\.,]?\d+)?$"> mg/kg

    <p>
    <input type="submit" value="Save">
</form>

{% with messages = get_flashed_messages() %}
 {% if messages %}
  <ul>
  {% for message in messages %}
    <li>{{ message }}</li>
  {% endfor %}
  </ul>
 {% endif %}
{% endwith %}

<p>
    <a href="{{ url_for('index') }}">Back to Home</a>
</p>

</body>
</html>